<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <context:component-scan base-package="com.mina.security"/>

    <beans:bean id="appEntryPoint"
                class="com.mina.security.HttpAuthenticationEntryPoint"/>

    <beans:bean id="appSuccessHandler"
                class="com.mina.security.SimpleUrlAuthenticationSuccessHandler"/>

    <beans:bean id="appFailureHandler"
                class="com.mina.security.SimpleUrlAuthenticationFailHandler"/>

    <http use-expressions="true" entry-point-ref="appEntryPoint">

        <intercept-url pattern="/" access="permitAll"/>
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>

        <form-login
                login-page="/login"
                password-parameter="password"
                username-parameter="username"
                authentication-success-handler-ref="appSuccessHandler"
                authentication-failure-handler-ref="appFailureHandler"
        />
        <logout logout-url="/logout"/>
        <http-basic/>
        <csrf disabled="true"/>
    </http>


    <!-- Enable the annotations for defining the secure role -->
    <global-method-security secured-annotations="enabled"/>

    <beans:bean class="com.mina.security.auth.SimpleAuthenticationProvider"/>
    <beans:bean id = "mixedSimpleLdapAuthenticationProvider" class="com.mina.security.ldap.MixedSimpleLdapAuthenticationProvider"/>


    <authentication-manager erase-credentials="true">
        <!--<authentication-provider ref='ldapAuthProvider'/>-->
        <!--<authentication-provider ref='simpleAuthenticationProvider'/>-->
        <authentication-provider ref='mixedSimpleLdapAuthenticationProvider'/>
    </authentication-manager>


</beans:beans>