<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:ldap="http://www.springframework.org/schema/ldap"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
                   http://www.springframework.org/schema/ldap
       http://www.springframework.org/schema/ldap/spring-ldap.xsd">

    <context:component-scan base-package="com.mina.security.ldap"/>

    <bean id="contextSource" class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
        <constructor-arg value="${ldap.url}"/>
        <property name="base" value="${ldap.base}"/>
        <property name="userDn" value="${ldap.username}"/>
        <property name="password" value="${ldap.password}"/>
        <property name="baseEnvironmentProperties">
            <map>
                <entry key="java.naming.ldap.version" value="3"/>
            </map>
        </property>
    </bean>

    <bean id="ldapAuthProvider"
                class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
        <constructor-arg>
            <bean id="bindAuthenticator"
                        class="org.springframework.security.ldap.authentication.BindAuthenticator">
                <constructor-arg ref="contextSource"/>
                <property name="userDnPatterns">
                    <list>
                        <value>uid={0},ou=Users</value>
                    </list>
                </property>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="org.springframework.security.ldap.userdetails.DefaultLdapAuthoritiesPopulator">
                <constructor-arg ref="contextSource"/>
                <constructor-arg value="ou=groups"/> <!-- group search base -->
                <property name="searchSubtree" value="true"/>
                <property name="ignorePartialResultException" value="true"/>
                <property name="groupSearchFilter" value="(memberUid={1})"/>
            </bean>
        </constructor-arg>
    </bean>

    <ldap:ldap-template id="ldapTemplate"/>

</beans>